@model CalendarAppFinal.Models.ViewModel.EventoViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Criar</h1>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Evento.Nome" class="control-label"></label>
                <input asp-for="Evento.Nome" class="form-control required" />
                <span asp-validation-for="Evento.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.Descricao" class="control-label"></label>
                <input asp-for="Evento.Descricao" class="form-control required" />
                <span asp-validation-for="Evento.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.StartTime" class="control-label"></label>
                <input asp-for="Evento.StartTime" class="form-control required" />
                <span asp-validation-for="Evento.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.EndTime" class="control-label"></label>
                <input asp-for="Evento.EndTime" class="form-control required" />
                <span asp-validation-for="Evento.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Etiqueta</label>
                @Html.DropDownList("Etiqueta", Model.Etiqueta, "Selecione uma etiqueta", new { @class = "form-control required" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary btn-vermelho" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar a lista</a>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        $("#create-event").validate();
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<style>
    .btn-vermelho {
        background-color: #C60000; /* Vermelho */
        border-color: #000; /* Cor da borda vermelha, se necessário */
        /* Outros estilos opcionais */
        color: #fff; /* Cor do texto */
    }

        .btn-vermelho:hover{
            background-color: darkred;
        }

    a{
        color: #C60000;
    }

</style>