@model CalendarAppFinal.Models.ViewModel.EventoViewModel
﻿
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Evento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.HiddenFor(m => m.UserId)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Evento.Id" />
            <div class="form-group">
                <label asp-for="Evento.Nome" class="control-label"></label>
                <input asp-for="Evento.Nome" class="form-control" />
                <span asp-validation-for="Evento.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.Descricao" class="control-label"></label>
                <input asp-for="Evento.Descricao" class="form-control" />
                <span asp-validation-for="Evento.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.StartTime" class="control-label"></label>
                <input asp-for="Evento.StartTime" class="form-control" />
                <span asp-validation-for="Evento.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Evento.EndTime" class="control-label"></label>
                <input asp-for="Evento.EndTime" class="form-control" />
                <span asp-validation-for="Evento.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Etiqueta</label>
                @Html.DropDownList("Etiqueta", Model.Etiqueta, "Selecione uma etiqueta", new { @class = "form-control required" })
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<script>
    function SetSelectedEtiqueta(Etiqueta) {
        var etiquetas = document.getElementById('Etiqueta'), etq, i;

        for (i = 0; i < etiquetas.length; i++) {
            etq = etiquetas[i];
            if (etq.innerText === Etiqueta) {
                etq.selected = "true";
            }
        }
    }

    var eventoEtiqueta = "@Html.Raw(Model.EtiquetaNome)";

    document.addEventListener('DOMContentLoaded', function () {
        SetSelectedEtiqueta(eventoEtiqueta);
    });
</script>

<div>
    <a asp-action="Index">Voltar a lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
