@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <a href="/Evento"><h3>Eventos</h3></a>
    </div>
    <div class="col-md-6">
        <a href="/Etiqueta"><h3>Etiquetas</h3></a>
    </div>
</div>