@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">CALENDAR-APP</h1>
    <h3><a href="/MyCalendar">VOCÊ PRECISA ESTAR LOGADO PARA PODER VISUALIZAR O CALENDÁRIO</a></h3>
</div>

<style>
    a{
        color: #C60000;
    }
    a:hover{
        color: darkred;
    }
</style>