@{
    ViewData["Title"] = "My Calendar";
}



<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth'
        });
        calendar.render();
    });
</script>

<div class="row">
    <div class="col-md-6">
        <div class="btn-group" role="group">
            <button class="btn btn-primary" onclick="location.href='/Evento'">Eventos</button>
            <button class="btn btn-primary" onclick="location.href='/Etiqueta'">Etiquetas</button>
        </div>
    </div>
</div>

<div class="text-center">
    <h1 class="display-4">BEM VINDO AO SEU CALENDÁRIO!</h1>
    <div id='calendar'></div>
</div>


<style>
    .col-md-6 {
        margin-top: 20px;
        position: absolute;
        top: 117px; /* Ajuste essa distância do topo conforme necessário */
        left: 47%; /* Centraliza os botões horizontalmente */
        transform: translateX(-50%);
    }

    .col-md-6, .btn {
        background-color: #C60000;
        border-color: #C60000;
        font-size: 14px;
        padding: 5px 10px;
    }

        .col-md-6, .btn:hover {
            background-color: white; /* Cor um pouco mais escura ao passar o mouse, se desejar */
            color: black;
            border-color: black;
        }

    .fc .fc-button-primary {
        color: #fff;
        color: var(--fc-button-text-color, #fff);
        background-color: #C60000; /* Vermelho */
        background-color: var(--fc-button-bg-color, #C60000);
        border-color: black;
        border-color: var(--fc-button-border-color, black);
    }

    .fc-daygrid-day-number {
        color: #C60000; /* Vermelho */
    }

    .fc-day-header.fc-widget-header {
        color: #C60000; /* Define a cor vermelha para os dias da semana */
        /* Outros estilos que desejar */
    }

    .calendar-container {
        position: fixed;
        top: 56px; /* A mesma altura da navbar */
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999; /* Garante que o calendário fique acima da página */
        overflow: hidden; /* Oculta a barra de rolagem */
    }

    .body {
        overflow: hidden; /* Oculta a barra de rolagem */
    }

    #calendar {
        height: 80vh; /* Altura do calendário ajustada para 70% da altura da viewport */
        margin: auto; /* Centraliza o calendário verticalmente */
        overflow: hidden; /* Oculta a barra de rolagem */
    }

    .fc-day {
        background-color: #F2F2F2; /* exemplo de cor azul */
        color: #C60000; /* cor do texto */
    }

    .fc th,
    .fc td {
        border-color: #A1A2A6; /* Define a cor das linhas de divisão */
    }
</style>