@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Recuperação de senha";
}

<h1>@ViewData["Title"]</h1>
<h2>Digite seu email.</h2>

<div class="row">
    <div class="col-md-4">
        
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>           
        </form>
    </div>
    <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<style>

    .container {
        width: 411px;
        height: auto;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        text-align: center;
        padding: 20px;
        margin: 80px auto 0; /* Ajuste a margem superior para mover o modal para baixo */
    }

    .form-floating input
     {
        width: 370px;
        height: 40px;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 20px;
    }

    .form-floating input {
        margin-bottom: 20px;
    }

    .btn {
        width: 370px;
        height: 40px;
        background-color: #C60000;
        color: #fff;
        border: 1px solid #000;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 40px;
    }
 

        .btn:hover {
            background-color: #9C0000;
        }
</style>