@model CalendarAppFinal.Models.Etiqueta

@{
    ViewData["Title"] = "Criar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Criar etiqueta</h1>


<hr />

@if (ViewData["Alert"] != null)
{
    <div class="alert alert-info" role="alert">
        @ViewData["Alert"]
    </div>
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <form asp-action="Create" class="my-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-danger">Criar</button>
                <a asp-action="Index" class="btn btn-danger ml-2">Voltar para a Lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>

    .my-form {
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
</style>